
/*ALL PAGES*/
html body{
    background-color: #FFFAEF;
    font-family: 'Petit Formal Script', cursive;
}
.header{
    text-align: center;
    margin-top: 20px;
}


/*HOME PAGE*/

.whole-page a{
    color: black;
}
.whole-page a:hover{
    color: black;
}

.home-buttons{
    background-color: white;
    padding: 50px;
    width: 190px;
    height: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;
    border-width: 10px;
    text-align: center;
}

.home-buttons:hover{

}
/*CODE & DESIGN*/

.cubby-img{
    width: 100%;
}

.sweet-zen-img-ig{
    width: 100%;
}

.sweet-zen-img-home{
    width: 100%;
}

.sweet-zen-img-abt{
    width: 100%;
}

.other-img{
    width: 100%;
}

.other-img-middle{
    width: 100%;
}

.other-img-last{
    width: 100%;
}

.other-div{
    padding-top: 80px;
}

.cubby-div-heading{
    padding-top: 120px;
}



.three-section-design{
    padding-bottom: 60px;
}

.whole-page-code h2{
    font-size: 30px;
}


/*.whole-page-code h1{*/
/*    font-size: 80px;*/
/*}*/

/*about page*/

.profile-image{
    width: 80%;
}
.about-me-div{
    padding-bottom: 30px;
}

.bottom-tab-button{
    background-color: white;
    border-color: black;
    border-width: 5px;
    padding: 10px;

}

.about-me-bio{
    padding-top: 100px;
}

.home-img{
    width: 100%;
}

.about-img{
    width: 100%;
}

.code-img{
    width: 100%;
}

.site-img{
    width: 100%;
}